body {
  background-image: linear-gradient(
    rgb(255, 215, 215),
    rgb(160, 197, 250),
    rgb(255, 193, 224),
    rgb(1, 16, 36)
  );
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 220vh;
}

.flex {
  display: flex;
}

.space-between {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  margin-left: 1050px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

.namn {
  color: #3100ac;
  text-shadow: 2px 2px 1px rgb(1, 24, 39);
  font-style: normal;
  margin: 20px;
}

a {
  color: rgba(65, 0, 0, 0.233);
}

/* unvisited link */

a:link {
  color: rgb(39, 0, 167);
  text-decoration: none;
  font-weight: bold;
}

/* visited link */
a:visited {
  color: rgb(39, 0, 167);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgb(41, 199, 10);
  text-decoration: none;
}

/* selected link */
a:active {
  color: rgb(88, 88, 213);
  text-decoration: none;
}

.headernav {
  display: flex;
  list-style: none;
  font-size: 24px;
  padding-right: 20px;
  justify-content: space-between;
}

.container-grid {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(20, 48px);
  grid-auto-rows: 48px;
  grid-auto-flow: dense;
  gap: 1.25rem;
}

@media (max-width: 550px) {
  .container-grid {
    grid-columns: 1;
  }
}

.mitt-magasin {
  background-image: url(bilder/F1.jpg);
  background-position: center;
  background-size: cover;
  margin: 10px;
  grid-column: 1;
  grid-row-start: 3;
  grid-row-end: 10;
}

.lasfrutas {
  font-family: "Bebas Neue", cursive;
  font-size: 26px;
  margin: 37px;
  grid-column: 1;
  grid-row-start: 8;
  grid-row-end: 8;
}

.vaccinapp {
  background-image: url(Liten\ iphone.jpg);
  background-position: center;
  background-size: cover;
  padding: 1.25rem;
  grid-column: 1;
  grid-row-start: 12;
  grid-row-end: 19;¨

}


.plasticorgans {
  font-family: "Bebas Neue", cursive;
  font-size: 26px;
  margin: 37px;
  grid-column: 2;
  grid-row-start: 10;
  grid-row-end: 10;
}


.plastic-lungs {
  background-image: url(plasticorgans_lungor.jpg);
  background-position: center;
  background-size: cover;
  margin: 10px;
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 12;
}



.smoove-desk {
  background-image: url(smoove\ mockup.jpg);
  background-position: center;
  background-size: cover;
  padding: 1.25rem;
  grid-column: 2;
  grid-row-start: 14;
  grid-row-end: 20;
}

.abouttext {
  font-size: 24px;
  margin-left: 200px;
  margin: 80px;
  background-color: rgba(156, 115, 228, 0.292);
  width: 400px;
  height: 400px;
}

/*.f1 {
  grid-column: 1;
  grid-row-start: 3;
  grid-row-end: 9;
  width: 100%;
}

.f1 img {
  width: 100%;
}

.vaccinapp {
  grid-column: 1;
  grid-row-start: 12;
  grid-row-end: 18;
  width: 100%;
}

.liten_iphone img {
  width: 100%;
}

.plastic-lungs {
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 12;
  width: 100%;
}

.smoove-desk {
  grid-column: 2;
  grid-row-start: 10;
  grid-row-end: 14;
}*/

.sexy img {
  display: flex;
  width: 60%;
  height: 40%;
}

.sexy {
  display: flex;
  margin-top: 80px;
}

.mums img {
  display: flex;
  width: 35%;
  height: 15%;
  margin: 2px;
}

.mums {
  display: flex;
  margin-top: 80px;
}
